body {
    background-image: linear-gradient(#777777, #bbbbbb);
    height: 100vh;
    margin: 0px;
}

.header {
    display: flex;
    justify-content: center;
    color: white;
    border-bottom: 1px solid #afafaf;
    background: linear-gradient(180deg, rgba(9,66,121,1) 0%, rgba(0,143,255,1) 100%);
}