body {
    background-color: #C6A477;
    height: 100%;
    margin: 0px;
}

body ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    flex-basis: 80%;
    padding-left: 0px;
}

body ul li {
    /* flex-basis: 15%; */
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    margin: 10px 5px;
    transition: transform 1s;
    width: 150px;
    height: 210px;
    /* box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); */
}

body ul li span {
    text-align: center;
}

body ul li img {
    margin: auto;
    max-width: 85%;
    max-height: 85%;
    min-width: 50%;
    min-height: 50%;
}

body ul li img:hover {
    opacity: 0;
    transition: .3s;
}

.header {
    display: flex;
    justify-content: center;
    color: white;
    border-bottom: 1px solid #afafaf;
    background: linear-gradient(180deg, rgba(9,66,121,1) 0%, rgba(0,143,255,1) 100%);
}

.card li{
    background-image: url("./img/cardFront.png");
    background-position: center;
    background-size: cover;
    transition: 1s;
}

.card li span {
    transform: rotateY( 180deg );
    width: 130px;
    height: 190px;
    padding: 10px;
    color: white;
    transition-delay: .3s;
    opacity: 0;
    border: 0px solid black;
    border-radius: 5px;
    position: absolute;
    line-height: 20px;
    background-image: url(./img/cardBack.png);
}

.card li span:hover {
    transition-delay: .1s;
    opacity: 1;
    background-image: url(./img/cardBack.png);
}

.card li:hover {
    transform: rotateY(180deg) rotate(-5deg) scale(1.3);
    z-index: 500;
    transition: .3s;
    background-image: url("./img/cardBack.png");
}

button {
    width: 160px;
    height: 60px;
    margin: 20px;
    transition: .3s;
    background-image: url("./img/addMoreBtn.png");
}

button:hover {
    background-image: url("./img/addMoreBtn.png");
    transform: scale(1.1);
    transition: .3s;
}

button:focus {
    outline: none;
}